<section class="home">
    <div class="homecontent">
        <h1> Jenkins demo pipeline </h1>
        <a *ngIf="!isSubTextVisible" (click)="toggleSubText()" class="btn">Know more!</a>
        <div *ngIf="isSubTextVisible" class="sub-text" >
            Jenkins PipelineS is a suite of plugins that allows developers to define and execute continuous delivery pipelines as code. It enables developers to create automated, repeatable workflows for building, testing, and deploying applications.
        </div>
        <a *ngIf="isSubTextVisible" (click)="toggleSubText()" class="btn">collapse</a>
    </div>
</section>